name: test_cron_deploy

on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  stale:

    runs-on: [self-hosted, Linux, X64, skip]
    steps:
    - name: touch_file
      run: sh /home/juzix/test.sh
    - name: echo
      run: echo 1
